*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    padding: 20px ;
}


body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(0, 91, 103);
    color: aliceblue;
    
}

main{
    padding: 30px;
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: repeat(3, 50px);
    gap: 20px;
    justify-content: center;
    
}
main div{
    background-color: rgb(67, 0, 0);
}
select{
    grid-area: select;
}
input{
    grid-area: input;
}
div p{
    grid-area: p;
    display: inline-block;
    justify-content: left;
    padding: 10px 20px;
}
main div{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(254, 229, 229);
}
.valasztos{
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: stretch;
}
.valasztos select, .valasztos input{
    transition: 0.3s;    
    padding: 10px 10px;
    text-align: center;
    border-radius: 10px;
}

.valasztos select:hover, .valasztos input:hover{
    transition: 0.3s;
    background-color: rgb(188, 188, 235);
}


.sor{
    flex-wrap: nowrap;
    gap: 30px;
}
.sor p{
    padding: 0 30px;
    color: rgb(255, 247, 0);
    font-size: larger;
}

.ma{
    background-color: rgb(150, 3, 3);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.mainap{
    text-align: center;
    transition: 1s;
    display: none;
}
.maiszoveg{
    cursor: pointer;
}
.maiszoveg:hover{
    color: gold;
}