*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(7, 57, 46);
}

a:any-link{
    color: aliceblue;
}
a{
    text-decoration: none;
    border: 1px black solid;
    padding: 10px;
}
ul{
    list-style-type: none;
}
li{
    margin: 30px;
}