*{
    margin: 0 10%;
    padding: 0;
}
body{
    background-color: rgb(42, 0, 0);
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
header{
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto;
}

table{
    margin: 20px auto;
}

td{
    background-color: aqua;
    padding: 50px;
    border: 10px hidden rgb(42, 0, 0);
    border-style: solid;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.2s;
}
td:hover{
    background-color: cadetblue;
}

main section{
    display: grid;
    grid-template-columns: auto auto;
}
main section div p{
    padding: 5px;
}

input{
    border-radius: 20px;
    padding: 20px;
    background-color: chartreuse;
    cursor: pointer;
}